<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="auth-box">
          <h1>Sign in to Institute portal</h1>
          <div class="form-field">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" />
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
