$bg-color:#fff;
$primary-text-color:#111;
$secondary-text-color:#333;
$primary-color:#0976B3;
$secondary-color:#EEF2F6;
$panel-color:#34444C;
$waring-red:#ED1056;
$successful-green:#62B144;
$pending-yellow:#eed40d;
$highlight-color:#C9DFF5;